<div class="ly-languages-switcher">
	<div class="selected-language">

	</div>
	<span class="drop-arrow"><</span>
	<select id="ly-languages-switcher" name="languages">

		{% for language in shop.metafields.languages %}
		{% assign key = language | first %}{% assign value = language | last %}{% if key != "default" %}

		<option value="{{ key }}" selected="selected">{{ value }}</option>

		{% endif %}
		{% endfor %}
		{% comment %}
	    <option value="ly55212" selected="selected">EN</option>
		<option value="ly55213" >中文</option>
		{% endcomment %}



	</select>
</div>