{{ 'about.scss' | asset_url | stylesheet_tag }}
{% comment %}ly_global_begin{% endcomment %}{% include 'ly-global' %}{% comment %}ly_global_end{% endcomment %}


  <body id="page-about">
      <img src="//cdn.shopify.com/s/files/1/0102/3927/9162/files/AroundCOS3-1440_1024x1024.jpg?v=1530795181" alt=""/>
      <div id="container">
        <h2>About CRUSH Collection</h2>
        <p>CRUSH Collection was founded in 2009. The brand’s founder and creative director Vivian Chang adopted the term “crush”, that warm rush of desire and affection, to capture the lightness of being and hope that comes with being blissfully infatuated with somebody. The brand’s DNA is deeply rooted in Vivian’s own experiences – the laid-back ease of the West Coast, the Nordic minimal aesthetic, and the energy of global metropolis. Each facet imbues CRUSH Collection with confident modernity and an appreciation for the healthy and natural way of life. Classic minimalist design is re-interpreted to emphasize comfort, creating a relaxed elegance that transitions from morning to evening. CRUSH Collection’s blend of effortless style and functionality has resonated well with consumers, receiving recognition and acclaim from top international media and buyers.</p>
        <p>Since the beginning, one of the brand’s core ethos has been healthy and natural living. CRUSH Collection selects the finest cashmere; sumptuous to the touch with naturally superior features. Having mastered the craft of cashmere, the brand innovates in the development of new materials and technique. The brand’s dexterous application of cashmere and silk offers active globe-trotters a brand-new, unparalleled experience in comfort and warmth. In addition to sourcing the highest quality raw materials, the brand has sought to optimize its production and shipping processes to optimize waste and reduce environmental footprint.</p>
        <h2>Wear with care</h2>
        <p>Cashmere is derived from the undercoat fibers produced by goats originating from the Kashmir region. The fibers are one-sixth the thickness of hair and characterized by their exceptionally soft and curly texture. Cashmere offers eight times the warmth of regular wool and has become the most sought after luxury raw material for producing lightweight clothing with superior warmth retention and is known to be non-irritating on sensitive skin. Our collection’s natural fiber products are made with advanced knitting techniques; by following these simple guidelines, you will ensure garments retain their shape and warmth for a very long time.</p>
        <ul>
          <li>When worn, avoid rubbing against hard objects (suspenders, denim, tabletops, etc.) to prevent abrasion and pilling.</li>
          <li>Avoid tugging which can create holes and cause the garment to lose its shape.</li>
          <li>Not recommended for wearing over a long period of time. After continuous wear over three days, let the garment rest or wash it in cold water (please see washing instructions) to allow the fibers regain elasticity.</li>
          <li>Wash and dry before storing it away for the season to avoid moth damage.</li>
          <li>Store flat to retain shape. Avoid humidity and direct contact with moth repellent.</li>
        </ul>
        <h2>A few steps to follow when washing</h2>
        <p>Natural animal-derived fibers such as pure cashmere and real silk are similar to human hair. Washing in water is better than any form of dry cleaning. The best cleaning method is turning the garment inside out and hand-washing it in cold water with same-color garments:</p>
        <ul>
          <li>Turn the garments inside-out</li>
          <li>Combine with neutral cashmere detergent and cold water 30°C or below</li>
          <li>Soak for 15 minutes, then gently crumple with hands (Do not scrub)</li>
          <li>For stains, apply a small amount of neutral cashmere detergent directly on the stain on the dry garment. After five minutes, gently rub and wash with cold water</li>
          <li>Rinse and repeat two or three times in cold water 30°C or below</li>
          <li>Gently squeeze out excess water by hand using light pressure. Place in laundry bag and put it through spin cycle at low speed</li>
          <li>Lay flat to dry. Avoid hang drying and intense direct sunlight</li>
          <li>If needed, steam iron at low temperature (140°C  or below) under moist cloth, then lay flat and let dry completely</li>
          <li>Only wash same color garments together</li>
        </ul>
        <p><em>For specific wash instructions please see wash tag on the garment</em></p>
      </div>
  </body>
</html>
